# Ignore large data files
# TODO find way to include? 
# /development/projects/statisticallyfit/github/learningspark/SparkTutorial/src/main/scala/com/data
src/main/scala/com/data/


project/*
project

project/.boot/
project/.boot/*

project/.sbtboot/
project/.sbtboot/*

project/.ivy/*
project/.ivy/

project/target
project/target/*

project/project/*
project/project/



target
target/*

.idea
.idea/
.idea/*
.idea*
.bloop/
.metals
.vscode

.history
.bsp/


.metadata
.cache-main
.classpath
.project
.settings
*.class
*.orig
*.log

.DS_Store
*.iml
scalastyle-output.xml
